.navbar {
    background-color: dimgray;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: 100%;

    .navbar-pages {
        background-color: red;
        display: inline-block;
        margin-left: 1%;
    }
}

.header {
    background-color: rgb(66, 235, 190);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    height: 337px;

    .header-title-info {
        background-color: orange;
        display: inline-block;
        width: 625px;
        height: 250px;

        .header-title {
            background-color: blue;
            font-size: 150%;
            margin-left: 5%;
        }

        .header-intro {
            background-color: yellow;
            font-size: 120%;
            margin-left: 2%;
        }

    }
    
    .header-portrait {
        background-color: violet;
        display: inline-block;
        width: 360px;
        height: 360px;

        .portrait {
            width: 379px;
            height: 337px;
            object-fit: contain;
        }
    }
}

.myWork {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: 135%;
}
