.navbar {
    background-color: dimgray;
    display: block;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: 100%;
    height: 25px;

    .navbar-pages {
        background-color: red;
        display: inline-block;
        margin-left: 1%;
        vertical-align: middle;;
    }
}

.header {
    background-color: rgb(66, 235, 190);
    display: block;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    height: 337px;
    /* vertical-align: top; */
    /* margin-bottom: 0px; */

    .header-title-info {
        background-color: orange;
        display: inline-block;
        width: 625px;
        /* height: 337px; */
        vertical-align: top;

        .header-title {
            display: block;
            background-color: blue;
            font-size: 150%;
            margin-left: 5%;
        }

        .header-intro {
            display: block;
            background-color: yellow;
            font-size: 120%;
            margin-left: 2%;
        }

    }
    
    .header-portrait {
        background-color: violet;
        display: inline-block;
        width: 337px;
        height: 337px;

        .portrait {
            width: auto;
            height: 337px;
        }
    }
}

.my-work {
    background-color: rgb(241, 167, 86);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    vertical-align: top;
    /* margin-top: 0px; */

    .my-work-title {
        background-color: blue;
        font-size: 135%;
        margin-left: 85%;
    }

    .my-work-projects {
        .project {
            background-color: dimgray;
            display: inline-block;
            margin-left: 3%;
            width: 210px;
        }
    }
}

.contact {
    background-color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    vertical-align: top;

    .contact-header {
        background-color: blue;
        font-size: 135%;
        margin-left: 5%;
    }

    .contact-socials {
        .socials {
            display: inline-block;
            margin-left: 10%;
            width: 200px;

            .social {
                width: auto;
                height: 50px;
            }
        }
    }
}
